# Ignore environment variables
app/.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore local database/vectorstore
vectorstore/
*.sqlite3

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore Jupyter notebooks you don’t want to push
email_generator.ipynb
tutorial_groq.ipynb
